---
# cert-manager issues the cert and stores it in Secret argocd-tls
# Traefik IngressRoute references this secret for TLS termination
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: argocd-tls
  namespace: {{ argocd_namespace }}
spec:
  secretName: argocd-tls
  issuerRef:
    name: {{ tls_issuer }}
    kind: ClusterIssuer
  commonName: {{ argocd_fqdn }}
  dnsNames:
    - {{ argocd_fqdn }}
