---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ tls_issuer }}
spec:
{% if tls_issuer == "selfsigned" %}
  selfSigned: {}
{% else %}
  acme:
    email: {{ tls_email }}
    server: >-
{% if tls_issuer == "letsencrypt-staging" %}
      https://acme-staging-v02.api.letsencrypt.org/directory
{% else %}
      https://acme-v02.api.letsencrypt.org/directory
{% endif %}
    privateKeySecretRef:
      name: {{ tls_issuer }}-account-key
    solvers:
      - http01:
          ingress:
            class: traefik
{% endif %}
