---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: awx-tls
  namespace: {{ awx_namespace }}
spec:
  secretName: awx-tls
  issuerRef:
    name: {{ tls_issuer }}
    kind: ClusterIssuer
  commonName: {{ awx_fqdn }}
  dnsNames:
    - {{ awx_fqdn }}
