---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: awx-projects-pv
spec:
  capacity:
    storage: 8Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  hostPath:
    path: {{ local_storage_path }}/awx-projects
    type: DirectoryOrCreate
  persistentVolumeReclaimPolicy: Retain